@import "tailwindcss";

@theme {
  --color-primario: #004542;
  --color-secundario:#00625D;
  --color-terciario:#FFF7D2;
  --color-cuarto:#BEB200;
}

@theme {
  --font-display: "Loew";
  --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11"; 
  --font-display--font-variation-settings: "opsz" 32; 
}



@font-face {
  font-family: "Loew";
  src: url("/font/Fontspring-DEMO-loew-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/font/Fontspring-DEMO-loew-bold.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "Loew";
  src: url("/font/Fontspring-DEMO-loew-black.otf") format("opentype");
  font-weight: 700;
  font-style: extrabold;
  font-display: swap;
}